* {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  background: url(../img/bg-about.jpg) center center;
}

nav {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}
nav ul {
  display: flex;
}
nav li {
  margin-left: 50px;
}
nav a {
  color: white !important;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.bg-switcher {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background-image: url(../img/bg1.jpg);
  background-position: center;
  background-size: cover;
}
.bg-switcher h1 {
  margin: 30px;
  color: #fff;
  font-size: 150px;
  font-weight: bold;
  font-family: "Bubblegum Sans", cursive;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
}

.heading {
  font-size: 64px;
  font-weight: bold;
  text-align: center;
}

.sub-heading {
  font-size: 18px;
  text-align: center;
}

#bg-fixed {
  height: 300px;
  background: url(../img/bg-fixed.jpg) center center;
  background-attachment: fixed;
}

#limited {
  padding: 100px 0;
}

.slick-initialized .slick-slide {
  display: flex;
  align-items: center;
  height: 350px;
  margin: 50px 50px 0 50px;
  padding: 50px;
  border: 3px solid #dcdcdc;
  border-radius: 10px;
  background-color: white;
}

.slide-box {
  width: 60%;
  padding-left: 30px;
}

.slide-title {
  font-size: 36px;
}

.slide-tag {
  display: inline-block;
  margin: 10px 0;
  padding: 5px 10px;
  background-color: #f05454;
  border-radius: 5px;
  color: white;
}

.slide-img {
  width: 40%;
}

.fadein {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s;
}

#about {
  padding: 100px 0;
  text-align: center;
}

.about-title {
  margin-bottom: 10px;
}

#menu {
  padding: 100px 0;
  background-color: #faedc6;
  text-align: center;
}
#menu table {
  margin: 0 auto;
  margin-bottom: 50px;
  border-collapse: collapse;
}
#menu th, #menu td {
  padding: 10px 20px;
}
#menu thead {
  border-bottom: 1px solid #808080;
}

.open-box {
  display: none;
}

.food {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin: 50px auto;
}

.food-box {
  width: 200px;
}

.food-box-img {
  width: 100%;
  border-radius: 10px;
}

.drink-title {
  margin-top: 50px;
  font-family: "Bubblegum Sans", cursive;
  font-size: 56px;
}

.drink-menu {
  text-align: left;
}

.more-button {
  display: inline-block;
  padding: 10px 40px;
  background-color: #fabb51;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#news {
  padding: 100px 0;
}

.modal {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.modal .modal-box {
  margin: 0 20px;
}

.banner {
  width: 400px;
}

.modaal-content-container {
  text-align: center;
}

.modaal-close:focus:after,
.modaal-close:focus:before,
.modaal-close:hover:after,
.modaal-close:hover:before {
  background: #fabb51;
}

#access {
  padding: 100px 0;
  background-color: #faedc6;
}

.access-wrap {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.access-box {
  margin-left: 50px;
}

.access-box-title {
  font-weight: bold;
}

.access-box-text {
  margin-bottom: 10px;
}

footer {
  padding: 20px 0;
  background-color: #fabb51;
}
footer p {
  color: white;
  text-align: center;
}